body,html{
background-image: url("../img/paisaje.jpg");
font-family: Comic Sans MS;
height: 100%;
padding: 0;
margin: 0;
}

#intro{
	margin-top: 10px;
	margin-left: 25%;
	background-color: #2CD62E;
	border-style: inset;
	border-radius: 20px;
	width: 50%;
	padding: 50px;
	height: auto;

}


#home:active {border-style: outset;}
#home:hover {background-color: blue;}
#home
{
	background-color: black;
	background-image: url("../img/home.png");
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: 50% 50%;
	border-radius: 20px;
	border-color: gray;
	display: inline-block;
	width: 70px;
	height: 80px;

}