body,html{
	height:100%;
	padding:0px;
	margin:0px
}

body{
	font-size:3vw
}

.a,.b,.c{
	display:inline-block;
	width:33.33%;
	height:100%;
	float:left;

}


	
#ovni{
	text-align:center;
	position:fixed;
	top:5%;
	width:100%;
	height:100%;
	background-image: url(../img/ovni.png);
	background-repeat: no-repeat;
	background-position: 50% 0%;

}


#fondo {
	position: fixed;
	z-index: 0;
	height:100%;
	width: 100%;
	background: url(../img/paisaje.jpg) no-repeat center center fixed;
	background-size: cover;
}

#play:hover {
	background-color: grey;
   
}
#play {
	border-radius: 50px;
	display: inline-block;
	float: right;
	background-color: white;
	border-style: solid;
	margin: 10px;
	margin-top: 5%;
	width: 64px;
	height: 70px;
	background-image: url(../img/play.png);
	background-repeat: no-repeat;
	background-size: 66%;
	background-position: 60% 50%;
	position:relative;
	z-index: 1;
}

#opciones:hover {
	background-color: grey;
}
#opciones{
	border-radius: 50px;
	display: inline-block;
	float: right;
	background-color: white;
	border-style: solid;
	margin: 10px;
	margin-top: 5%;
	width: 66px;
	height: 70px;
	background-image: url(../img/opciones.png);
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: 50% 50%;
	position:relative;
	z-index: 1;
}

#reset:hover {
	background-color: grey;
}
#reset{
	border-radius: 50px;
	display: inline-block;
	float: right;
	background-color: white;
	border-style: solid;
	margin: 10px;
	margin-top: 5%;
	width: 66px;
	height: 70px;
	background-image: url(../img/reset.png);
	background-repeat: no-repeat;
	background-size: 168%;
	background-position: 50% 50%;
	position:relative;
	z-index: 1;
}

#vel{
	float: left;
	background-color: grey;
	margin: 10px;
	margin-top: 5%;
	width: 230px;
	height: 70px;
	border-style: solid;
	background-image: url(../img/Speed.png);
	background-repeat: no-repeat;
	background-size: 27%;
	background-position: 0% 50%;
	position:relative;
	z-index: 1;

}

#gas {
	float: left;
	background-color: grey;
	margin: 10px;
	margin-top: 5%;
	width: 230px;
	height: 70px;
	border-style: solid;
	background-image: url(../img/fuel.png);
	background-repeat: no-repeat;
	background-size: 27%;
	background-position: 0% 70%;
	position:relative;
	z-index: 1;	
}

#alt {
	float: left;
	background-color: grey;
	margin: 10px;
	margin-top: 5%;
	width: 230px;
	height: 70px;
	border-style: solid;
	background-image: url(../img/altura.png);
	background-repeat: no-repeat;
	background-size: 27%;
	background-position: 0% 50%;
	position:relative;
	z-index: 1;	
}

#indicadores {
	margin-top: 149px;
	list-style-type: none; 
	padding: 0px;

}

#menu {
	list-style-type:none;
	padding: 0px;

}
